{% extends 'base.html' %}
{% block content %}
<h2>Enter Compliance</h2>
<form method="POST" class="pure-form pure-form-stacked">
    <label for="staff_name">Staff name:</label>
    <input type="text" name="staff_name" id="staff_name" />

    <h3>Compliance</h3>

    <label for="vit" class="pure-checkbox">
        VIT:
        <input type="checkbox" name="vit" id="vit" />
    </label>
    
    <label for="mandatory_rep" class="pure-checkbox">
        Mandatory Reporting:
        <input type="checkbox" name="mandatory_rep" id="mandatory_rep" />
    </label>

    <br>
    <input type="submit" class="pure-button pure-button-primary" value="Add staff" />

</form>
{% endblock %}