{% extends 'base.html' %}
{% block content %}
<h2>My Compliance Status</h2>
<table class="pure-table pure-table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>VIT</th>
            <th>Mandatory Reporting</th>
        </tr>
    </thead>
    <tbody>
        {% for staff in staff %}
        <tr>
            <td>{{ staff.name }}</td>
            <td style="text-align: center">
                {% if staff.VIT %}
                    {% if staff.VIT == 'True' %}
                    &#10003;
                    {% else %}
                    &#x2717;
                    {% endif %}
                {% endif %}
            </td>
            <td style="text-align: center">
                {% if staff.mandatory_rep %}
                    {% if staff.mandatory_rep == 'True' %}
                    &#10003;
                    {% else %}
                    &#x2717;
                    {% endif %}
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <a class="pure-button pure-button-primary" href="{{ url_for('add_staff') }}">
        Add another compliance
    </a>
</p>
{% endblock %}